.mainBlock {
  position: relative;
  top: 0;
  width: 200px;
  transition: all 0.3s;
}

.img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
}

.order {
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 40px;
  font-weight: 600;
}

.voteAverage {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 250px;
  color: white;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 270px;
  padding: 15px;
  line-height: 1.7;
  visibility: hidden;
  z-index: 2;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
  font-size: 16px;
}

.mainBlock:hover {
  top: -10px;
}

.mainBlock:hover > .overview {
  visibility: visible;
  color: white;
}

.mainBlock:hover > .img {
  filter: brightness(20%);
}

.mainBlock:hover > .order {
  visibility: hidden;
}

.mainBlock:hover > .voteAverage {
  visibility: hidden;
}
