.mainBlock {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 50px auto;
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.2);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.4);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.2);
  }
}

.loading {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: #eaeaea;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.error {
  font-size: 50px;
  font-weight: 600;
  height: 300px;
  display: flex;
  align-items: center;
}
