.mainBlock {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto 50px auto;
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.2);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.4);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.2);
  }
}

.loading {
  width: 200px;
  height: 300px;
  border-radius: 20px;
  background-color: #eaeaea;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.error {
  font-size: 50px;
  font-weight: 600;
  height: 300px;
  display: flex;
  align-items: center;
}

.buttonBlock {
  position: relative;
  top: 129px;
  width: 30px;
}

.button {
  display: block;
  width: 25px;
  height: 25px;
  border-left: 5px solid black;
  border-top: 5px solid black;
}

.button:hover {
  opacity: 0.6;
}

.leftButton {
  transform: rotate(-45deg);
}

.rightButton {
  transform: rotate(135deg);
}
