.mainBlock {
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.subBlock {
  width: 1200px;
  margin: auto;
}

.logo {
  display: block;
  font-size: 28px;
  font-weight: 800;
  padding: 15px 0;
}
